@model VirtualLibrary.Models.UsersForLibraryViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Edit Librarians</h4>
</div>
@using (Html.BeginForm("Librarians", "Libraries", FormMethod.Post))
{
    <div class="modal-body" id="librarians_modal_body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Librarians</h4>
            <hr />
            <div class="form-group">
                <b>Select Librarians</b>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ThisLibrarian, Model.AllLibrarians as MultiSelectList, new { multiple = "multiple", @class = "form-control chosen-select", data_placeholder = "Select" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-close fa-lg"></i>
                <strong>Cancel</strong>
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check fa-lg"></i>
                <strong>Apply</strong>
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script>    $(".chosen-select").chosen({
        placeholder_text_multiple: "Select Librarian",
        disable_search_threshold: 10,
        no_results_text: "Oops, nothing found!",
        width: "100%"
    }); </script> 


