body{
    font: "Open Sans";
    background-color:#eee;
}
#map {

    height: 600px;
}

#back-button {

    color: #FFF;
}

#media-player {

    text-align: center;
}

#administrator_menu_hyperlink {

    color: #FFF;
}

#user_menu_hyperlink {

    color: #FFF;
}

.row.selected td {
    background-color: black !important; /* Add !important to make sure override datables base styles */
}

.modal-body {

  background-color: #EEEEEE;
}

.modal-title {

  color: black;
}


.panel-roles {

    border-color: #BED891;
}

.panel-roles > .panel-heading-roles {

  color: #fff;
  background-color: #BED891;
  border-color: #BED891;
}

.panel-roles > .panel-heading-roles + .panel-collapse > .panel-body {

  border-top-color: #BED891;
}

.panel-roles > .panel-heading-roles .badge {

  color: #BED891;
  background-color: #fff;
}

.panel-roles > .panel-footer + .panel-collapse > .panel-body {

    border-bottom-color:#BED891;
}

.panel-users {

    border-color: #635192;
}

.panel-users > .panel-heading-users {

  color: #fff;
  background-color: #635192;
  border-color:  #635192;
}

.panel-users > .panel-heading-users + .panel-collapse > .panel-body {

  border-top-color: #635192;
}

.panel-users > .panel-heading-users .badge {

  color: #635192;
  background-color: #fff;
}

.panel-users > .panel-footer + .panel-collapse > .panel-body {

    border-bottom-color:#635192;
}

.panel-libraries {

    border-color: #635192;
}

.panel-libraries > .panel-heading-libraries {

  color: #fff;
  background-color: #635192;
  border-color:  #635192;
}

.panel-libraries > .panel-heading-libraries + .panel-collapse > .panel-body {

  border-top-color: #635192;
}

.panel-libraries > .panel-heading-libraries .badge {

  color: #635192;
  background-color: #fff;
}

.panel-libraries > .panel-footer + .panel-collapse > .panel-body {

    border-bottom-color:#635192;
}

.panel-buildings {
    border-color: #330066;
}
.panel-buildings > .panel-heading {
    background: #330066; 
    color: #ffffff;
    border-color: #330066;
}

.panel-availability {

    border-color: #635192;
}

.panel-availability > .panel-heading-availability {

  color: #fff;
  background-color: #635192;
  border-color:  #635192;
}

.panel-availability > .panel-heading-availability + .panel-collapse > .panel-body {

  border-top-color: #635192;
}

.panel-availability > .panel-heading-availability .badge {

  color: #635192;
  background-color: #fff;
}

.panel-availability > .panel-footer + .panel-collapse > .panel-body {

    border-bottom-color:#635192;
}



.panel-usersdashboard {

    border-color: #635192;
}

.panel-usersdashboard > .panel-heading-usersdashboard {

  color: #fff;
  background-color: #635192;
  border-color:  #635192;
}

.panel-usersdashboard > .panel-heading-usersdashboard + .panel-collapse > .panel-body {

  border-top-color: #635192;
}

.panel-usersdashboard > .panel-heading-usersdashboard .badge {

  color: #635192;
  background-color: #fff;
}

.panel-usersdashboard > .panel-footer + .panel-collapse > .panel-body {

    border-bottom-color:#635192;
}

.navbar-inverse {

  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 0;
}
 
.no-top-margin {
    margin-top: 0px;
}

.sidebar-nav .dropdown-menu {
    float :none;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.sidebar-nav li a {
    display: block;
    padding: 10px 15px 10px 30px;    
}

.dropdown-menu > li > a {
    color: #337ab7;
    padding-left:50px;
}

#page-wrapper {
       
}

.background-image{
    padding:0px;
    margin:0px;
   height: 400px;
    width: 100%;
     background-image: url(images/libraries.png);
    background-repeat:no-repeat;
    background-size:cover;
}

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

img {
  width: 40%;
  max-width: 50%;
  height: auto;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#home_header {
    background:#f2d13e none repeat scroll 0 0;
    color:white;
    padding: 50px;
    font: 300 40px/40px "Open Sans";
}

#by_authors{
     color:#f2d13e;
}


.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.form-search{
    height:50px;
}

.btn-search {
    padding:14px 18px;
}

.img-search-book{
     width: 100%;
  max-width: 100%;
}
.img-search-book {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}
.img-search-book {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.img-search-book {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}​

 .user_name{
    font-size:14px;
    font-weight: bold;
}
.review-list .media{
    border-top: 2px groove #ccc;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

.text-wrap{
    word-wrap:break-word; 
}

.top-margin{
    margin-top:10px;
}

.button-default {
    color :#fff !important;
}

.top-padding{
    padding-top:20px;
}