

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Extend Loan</h3>
</div>
<br />

   

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fa fa-close fa-lg"></i>
            <strong>Cancel</strong>
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check fa-lg"></i>
            <strong>Apply</strong>
        </button>

    </div>
}
<script src="@Url.Content("~/Scripts/js/loan.view.js")"></script>