@model IEnumerable<VirtualLibrary.Models.Books_Ratings>

@foreach (var review in Model)
            {
    <div class="media">
        <p class="pull-right"><small>@review.timestamp</small></p>
        <div class="media-body">

            <h4 class="media-heading user_name">@review.Users.username</h4>
            <div class="row">
                <p class="text-justify text-wrap">@review.comment</p>
            </div>

        </div>
    </div>
}
