<?xml version="1.0"?>
  <appSettings>
    <add key="GoogleClientID" value="293685528104-q40046tnk4lgsupip4bclr3aa2d94557.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="L_UvrI8i-ztGNKzwDNjcFY22" />
    <add key="FacebookClientID" value="1846888758928745" />
    <add key="FacebookClientSecret" value="e44b5c9261650d703985aca07f4eafad" />
    <add key="TwiterClientID" value="vdH1Ae6WMW89cNwbGa43RSJLQ" />
    <add key="TwiterClientSecret" value="UshvKbZqwN6MGPoBkgpbZIoAXwZByawhFrOTGsNzcIJxZed8tU" />
    <add key="MicrosoftClientID" value="293685528104-kt39ko3sihhjj1p22gl6pdqbd41fgrl6.apps.googleusercontent.com" />
    <add key="MicrosoftClientSecret" value="f1ESzNcAJhYbJ0Nm_lNwUs2v" />
    <add key="AdminUser" value="accentureteam3codingschool@gmail.com" />
    <add key="AdminPass" value="administrator" />
  </appSettings>