<?xml version="1.0"?>
  <appSettings>
    <add key="GoogleClientID" value="985866057972-kb830nagug9c4o35j1tigh4dlu46nuf9.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="eSf9lzP4Xdujpdgw8yVCzbE1" />
    <add key="FacebookClientID" value="1846888758928745" />
    <add key="FacebookClientSecret" value="e44b5c9261650d703985aca07f4eafad" />
    <add key="TwiterClientID" value="8fRXsAmsUbr0VOHGHvVwuU7Ks" />
    <add key="TwiterClientSecret" value="SvoEriDskCTdXHqqoL3GY0vVxamZ931kyisIMIiIem2M4tTCvL" />
    <add key="MicrosoftClientID" value="86968ab2-5b09-4a45-9c02-61d365bf156f" />
    <add key="MicrosoftClientSecret" value="qYgMi24HBTRq8MiBTpxHeSk" />
    <add key="AdminUser" value="accentureteam3codingschool@gmail.com" />
    <add key="AdminPass" value="administrator" />
  </appSettings>