<?xml version="1.0"?>
  <appSettings>
    <add key="GoogleClientID" value="985866057972-kb830nagug9c4o35j1tigh4dlu46nuf9.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="eSf9lzP4Xdujpdgw8yVCzbE1" />
    <add key="FacebookClientID" value="1846888758928745" />
    <add key="FacebookClientSecret" value="e44b5c9261650d703985aca07f4eafad" />
    <add key="TwiterClientID" value="8fRXsAmsUbr0VOHGHvVwuU7Ks" />
    <add key="TwiterClientSecret" value="SvoEriDskCTdXHqqoL3GY0vVxamZ931kyisIMIiIem2M4tTCvL" />
    <add key="MicrosoftClientID" value="d886aae7-12cb-4160-bd1e-7d3bb2b77f13" />
    <add key="MicrosoftClientSecret" value="hE0SjirAMZ2TSsm1huxqhn5" />
    <add key="AdminUser" value="accentureteam3codingschool@gmail.com" />
    <add key="AdminPass" value="administrator" />
  </appSettings>